$maxWidth: 1440px;
$breakpoint-desktop: 1024px;

.container {
  max-width: $maxWidth;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: $breakpoint-desktop) {
    padding: 0px 20px;
  }
}

h2 {
  font-size: 40px;
  color: #60a244;
  margin-bottom: 20px;
  @media only screen and (max-width: $breakpoint-desktop) {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
}
